[defaults]
inventory = ./inventory/hosts.yaml
roles_path = ./roles
host_key_checking = false

[persistent_connection]
command_timeout = 30
connect_timeout = 30
connect_retry_timeout = 15
[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o KexAlgorithms=+diffie-hellman-group1-sha1,diffie-hellman-group14-sha1 -o HostKeyAlgorithms=+ssh-rsa -o PubkeyAcceptedKeyTypes=+ssh-rsa -o Ciphers=+aes128-cbc,3des-cbc,aes192-cbc,aes256-cbc
